.zespol_single
	.zespol_imgW
		img(src="/assets/addons/timthumb.php?src=[[+image]]&w=250&h=369&zc=1&q=100&s=1", alt="PRESTIZ kafelek photo")
	.zespol_title
		span [[+text1]]
	.zespol_jow
		span [[+text2]]


