.kafelek_wrapper
	.kafelek_left_w
		img(src="/assets/addons/timthumb.php?src=[[+image]]&w=250&h=370&zc=1&q=100&s=1", alt="PRESTIZ kafelek photo")
	.kafelek_right_w
		.kafelek_liczba

			span.liczba [[+text3]]
			.kafelek_title
				span [[+text1]]
			.line1.line
			.line2.line
		.kafelek_opis
			span [[+text2]]
		a.kafelek_wiecej(href="[[+link]]")
			span [[+text4]]
