.kafelek_wrapper(class="liczba-[[+onas_text2_tv]]")
	.kafelek_left_w
		img(src="/assets/addons/timthumb.php?src=/MEDIA/[[+oferta_mainPhoto_tv]]&w=570&h=273&zc=1&q=100&s=1", alt="PRESTIZ kafelek photo")
	.kafelek_right_w
		.kafelek_liczba

			span.liczba [[+onas_text2_tv]]
			.kafelek_title
				span [[+pagetitle]]
			.line1.line
			.line2.line

		a.kafelek_wiecej(href="[[~[[+id]]]]")
			span.turkus więcej >
