a.zbiorczy_kaf(href="[[~[[+id]]]]")
	span.turkus.upp [[+pagetitle]]
	.imgW
		img(src="/assets/addons/timthumb.php?src=/MEDIA/[[+oferta_mainPhoto_tv]]&w=1000&h=500&zc=1&q=100&s=1", alt="PRESTIZ poddzial zdjecie")
