
.content.kafInCon(class="liczba-[[+text3]]")
	.koncowy_kaf
		.kafelek_liczba
			span.liczba [[+text3]]

			.line1.line
		.koncowy_title
			span.turkus [[+text1]]
		.koncowy_opis
			span [[+text2]]

		.tabelka_wrapper
			| [[getImageList?
			| &value=`[[+submigx]]`
			| &tpl=`migxInside`]]