section
	.swiper-container.slider_Home_wrapper
		.swiper-wrapper

			| [[getImageList?
			| &tvname=`home_slider_migx_tv`
			| &tpl=`sliderChunkGIL`
			| &docid=`[[*id]]`
			| ]]
		.buttons-swiper_wrapp
			.contentSliderPagi
				.buttons-swiper
					.swiper-button-prev1
						i.fa.fa-angle-left
					.swiper-button-next1
						i.fa.fa-angle-right1