
| [[+text2:isnot=``:then=`
.select-override__option(class="select-override__option-[[+idx]]" data-idx="[[+idx]]" data-kwota="[[+text2]]" data-text1="[[+text1]]")
	span [[+text1]]
	span.bold &nbsp;cena:&nbsp;[[+text2]] zł
| `:else=`
.select-override__dzial()
	span.bold [[+text1]]
| `]]