| [[$header]]
| [[$nav]]



//-SLIDER

| [[$sliderMain]]
section
	.content
		.conWraText
			| [[*content:imageSlim=`&maxWidth=1140&fixAspect=1&q=95`]]
| [[*trawka_dol_prawa:is=``:else=`
section
	.liscie_wrapper.prawa.ofertaTrawka
		.liscie
			img(src="[[*trawka_dol_prawa]]", alt="PRESTIZ liście")
| `]]
| [[$footerChunk]]
| [[$footer]]